# Label And Ordinal Encoding:

In [1]:
import pandas as pd

In [2]:
from sklearn.preprocessing import LabelEncoder

In [3]:
df = pd.DataFrame({'color':['red','green','blue','red','green','blue','red','green','blue']})

In [4]:
df

   color
0    red
1  green
2   blue
3    red
4  green
5   blue
6    red
7  green
8   blue

In [5]:
# Create an instance of Label Encoder
encoder = LabelEncoder()

In [8]:
# Assigned Label as per alphabetical order:
encoder.fit_transform(df['color'])

array([2, 1, 0, 2, 1, 0, 2, 1, 0])

# To do rank wise encoding:

# Ordinal Encoding

In [9]:
from sklearn.preprocessing import OrdinalEncoder

In [10]:
import pandas as pd

# Create a sample dataframe with an ordinal variable:
df = pd.DataFrame({'size':['small','medium','large','medium','small','large']
                  })

In [11]:
# Create an instance of ordinal encoder class and fit_transform:
encoder = OrdinalEncoder(categories=[['small','medium','large']])

In [12]:
encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])